@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme{
    --color-theme-blue: #3938EB;
    --color-theme-light-blue: #EFEFFF;
    --color-theme-lightest-blue: #F8F8FF;
    --color-theme-gray: #515151;
}

*{
    font-family: "DM Sans", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

select {
    appearance: none;          /* Standard */
    -webkit-appearance: none;  /* For Safari/Chrome */
    -moz-appearance: none;     /* For Firefox */
    background: none;          /* Remove background arrow if any */
}
  